extend-exclude = [
    ".vscode",
    ".history",
    "test_.*?py",
]
include = [
    "*.py",
]
line-length = 120
fix = true
target-version = "py311"

[lint]
select = [
    "E",     # pycodestyle errors
    "F",     # pyflakes
    "W",     # pycodestyle warnings
    "B",     # flake8-bugbear
    "PD",    # pandas-vet
    "NPY",   # NumPy-specific rules
    "C4",    # flake8-comprehensions
    "C90",   # mccabe complexity
    "I",     # isort
    "UP",    # pyupgrade
    "ASYNC", # flake8-async
    "S",     # flake8-bandit
    "N",     # pep8-naming
    "A",     # flake8-builtins
    "COM",   # flake8-commas
    "PIE",   # flake8-pie
    # "PTH",   # flake8-use-pathlib
    # "ERA",   # eradicate
    "FBT",   # flake8-boolean-trap,
    "PL", # Pylint
    # "BLE", # flake8-blind-except
]
ignore = [
    "B008",
    "PTH123",
    "COM812",
    "B027",
    "S603"
    ]

[lint.per-file-ignores]
"**/tests/*" = [
    "S101",
    "PLR",
    "B",
    "ERA",
    "S",
]

[lint.isort]
known-third-party = [
    "fastapi",
    "pydantic",
    "starlette",
]

[lint.pyupgrade]
keep-runtime-typing = true

[lint.pylint]
max-args = 10
