[project]
name = "ugbio_core"
version = "1.0.0"
requires-python = ">= 3.10"
description = "Ultima Genomics core bioinfo utils"
authors = [
    { name = "Avigail Moldovam ", email = "avigail.moldovan@ultimagen.com" },
]
readme = "README.core.md"
dependencies = [
    "simppl==1.0.7",
    "pandas>=2.2.2",
]

[project.license]
text = "Apache-2.0"

[build-system]
requires = [
    "setuptools>=61.0",
]
build-backend = "setuptools.build_meta"
