[project]
name = "ugbio_cnv"
version = "1.0.1"
requires-python = ">=3.10"
dependencies = [
    "ugbio_core",
    "pysam>=0.22.1",
    "pandas>=1.5.3",
    "matplotlib>=3.7.1",
    "numpy>=1.26.4",
    "seaborn>=0.13.2",
]
description = "Ultima Genomics CNV utils"
authors = [
    { name = "Avigail Moldovan", email = "avigail.moldovan@ultimagen.com" },
]
readme = "README.cnv.md"

[project.license]
text = "Apache-2.0"

[build-system]
requires = [
    "setuptools>=61.0",
]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = [
    "ugbio_cnv",
]
