[project]
name = "ugbio_cnv"
version = "1.1.1-0dev-34"
requires-python = ">=3.10"
dependencies = [
    "ugbio_core",
    "seaborn>=0.13.2",
]
description = "Ultima Genomics CNV utils"
authors = [
    { name = "Tammy Biniashvili", email = "tammy.biniashvili@ultimagen.com" },
    { name = "Avigail Moldovan", email = "avigail.moldovan@ultimagen.com" },
    { name = "Tammy Biniashvili", email = "tammy.biniashvili@ultimagen.com" },
]
readme = "README.cnv.md"

[project.license]
text = "Apache-2.0"

[tool.uv.sources]
ugbio_core = {workspace = true}

[tool.setuptools]
packages = [
    "ugbio_cnv",
]

[build-system]
requires = [
    "setuptools>=61.0",
]
build-backend = "setuptools.build_meta"

[project.scripts]
run_tests = "pytest:main"
